### Data Manipulation

In [1]:
import pandas as pd
import numpy as np

In [8]:
frame1 = pd.DataFrame({'id':['ball','pencil','pen','mug','ashtray'], 'price': [12.33, 11.44, 33.21, 13.23, 33.62]})

In [9]:
frame2 = pd.DataFrame({'id':['pencil','pencil','ball','pen'], 'color':['white','red','red','black']})

In [11]:
result = pd.merge(frame1, frame2)
print(result)

       id  price  color
0    ball  12.33    red
1  pencil  11.44  white
2  pencil  11.44    red
3     pen  33.21  black

In [12]:
df1 = pd.DataFrame({
    "id":['ball','pencil','pen','mug','ashtray'],
    "color":['white','red','red','black','green'],
    "brand":['OMG','ABC','ABC','POD','POD']
})

df2 = pd.DataFrame({
    "id":['pencil','pencil','ball','pen'],
    "brand":['OMG','POD','ABC','POD']
})

In [13]:
print(pd.merge(df1,df2, on='id',how='left'))

        id  color brand_x brand_y
0     ball  white     OMG     ABC
1   pencil    red     ABC     OMG
2   pencil    red     ABC     POD
3      pen    red     ABC     POD
4      mug  black     POD     NaN
5  ashtray  green     POD     NaN

In [14]:
print(pd.merge(df1,df2, on='id',how='right'))

       id  color brand_x brand_y
0  pencil    red     ABC     OMG
1  pencil    red     ABC     POD
2    ball  white     OMG     ABC
3     pen    red     ABC     POD

### Data Cleaning

In [ ]:
df = pd.read_csv('dirtydata.csv')
df['Date'][26] = "'2020/12/26'"
df.head()

In [6]:
df['Date'] = pd.to_datetime(df['Date'])
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [7]:
#df.dropna(subset=['Date','Calories'],inplace=True)
"""
for d in df.index
    if df.loc[d,"Duration"] > 120
        df.loc[d,"Duration"] = 120
        
"""

#drop_duplicates()

df.drop_duplicates(inplace=True)
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

#### Correlation

In [10]:
df = pd.read_csv('data_workout.csv')
print(df.head())
df.corr()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.155408  0.009403  0.922717
Pulse    -0.155408  1.000000  0.786535  0.025121
Maxpulse  0.009403  0.786535  1.000000  0.203813
Calories  0.922717  0.025121  0.203813  1.000000

In [11]:
D = np.random.randint(10, 250, size = 20000)
P = np.random.randint(80, 140, size = 20000)
MP = np.random.randint(120, 160, size = 20000)
C = D*np.random.randint(5, 7, size = 20000)
dict= {'Duration': D, 'Pulse':P, 'Max Pulse':MP, 'Calories':C}
dataframe= pd.DataFrame(dict)
print(dataframe)
dataframe.to_csv("workout_20000.csv")

       Duration  Pulse  Max Pulse  Calories
0            85     91        123       510
1            84     84        152       504
2           248    110        130      1488
3            29    135        126       145
4           131    109        130       655
...         ...    ...        ...       ...
19995       203     90        139      1218
19996       173     87        126      1038
19997       238    131        139      1190
19998       216    122        133      1080
19999        16     93        143        80

[20000 rows x 4 columns]

In [14]:
df = pd.DataFrame({'color':['white','red','green','red','green'],
                   'objet':['pen','pencil','pencil','ashtray','pen'],
                   'price1':[5.56,4.56,2.35,23.6,23.34],
                   'price2':[34.34,34.56,3.45,34.3,3.5]})

In [ ]:
price_groupby_color = df['price1'].groupby(df['color'])
print(price_groupby_color.groups)

{'green': [2, 4], 'red': [1, 3], 'white': [0]}

In [19]:
print(price_groupby_color.mean())

color
green    12.845
red      14.080
white     5.560
Name: price1, dtype: float64